anthropic
chromadb
faiss-cpu
flask
flask-session
langchain
ollama
openai
pandas
pdfplumber
protobuf==4.24.4
PyMuPDF
PyPDF2
python-docx
reportlab
requests
sentence-transformers
boto3
PyJWT
cryptography
numpy<2.0.0
unstructured
pdf2image
pytesseract
fpdf
pi_heif
unstructured_inference
PyMuPDF
sentence-transformers