anthropic
boto3
chromadb
cryptography
faiss-cpu
flask
flask-session
fpdf
langchain
numpy<2.0.0
ollama
openai
pandas
pdf2image
pdfplumber
protobuf>=4.25.0
PyJWT
PyMuPDF
PyPDF2
python-docx
pytesseract
reportlab
requests
sentence-transformers
unstructured
unstructured_inference